@import compass

$border-grey: #999999
$font-color: #333333
$accent-color: #BCE089
$subtle-grey: #FAFAFA

body 
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  line-height: 1.5em

.wrapper 
  width: 400px
  margin: 50px auto

h1 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 100
  text-align: center
  font-size: 3rem
  margin: 3rem 0

.wrapper
  strong
    background-color: $subtle-grey
    border-bottom: 1px solid $border-grey
    border-top: 1px solid $border-grey
    display: block
    font-size: 0.75rem
    font-weight: normal
    padding: 0.5rem 1rem
    text-align: right
    cursor: pointer
    &:after
      content: '\25BC'
      display: inline-block
      +transition(transform, 150ms, ease-in)
    &.opened
      &:after
        content: '\25BC'
        +rotate(90deg)


  ul 
    list-style-type: none
    margin: 0
    padding: 0
  li 
    border-bottom: 1px solid $border-grey
    word-wrap: break-word
    &:last-child
      border-bottom: 0
    label 
      font-weight: normal
      color: $font-color
      font-size: 1rem
      padding: 1rem 0.5rem
      display: block
      cursor: pointer
      background-color: transparent
      +transition(background-color 0.2s ease-in)
      &:hover
        background-color: desaturate(lighten($accent-color,20%),30%)
    input
      display: none
      &:checked + label
        background-color: $accent-color
.subsets,
.variants 
  color: $border-grey
  font-size: 1rem
  font-style: normal
  margin: 1rem 0